
.container {
    overflow: hidden;
    border-radius: 10px;
    // LENGTH
    width: 100%;
    height: 100%;
    padding: 8px;
    // FLEX
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // TEXT
    font-style: normal;
    font-size: 1.3rem;
   
    color: white;
    @media only screen and (max-width: 800px) {
        font-size: 1rem;
    }

    @media only screen and (max-width: 666px) {
        font-size: 0.8rem;
    }

    @media only screen and (max-width: 573px) {
        font-size: 0.5rem;
    }
}

.container .infotext {
    // LENGTH
    padding: 8px 0px;
    // FLEX
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // TEXT
    text-align: center;

}

.isGreen {
     background: rgba(2, 208, 19, 0.9);
     height: 10px;
     width: 350px;
}

.isRed {
    background: rgba(204, 108, 108, 0.64);
}