
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}

.isGreen {
     background: #1b951b;
}

.isRed {
    background: rgb(255, 0, 0,);
}