

.toggleOpen {
    font-size: 3em;
        color: white;
       background-color: rgb(11, 140, 22);
      padding: 20px;
       font-style: Serif;
       text-align: center;
       letter-spacing: .3em;
       
       }
.toggleClose {
        font-size: 3em;
            color: white;
           background-color: rgb(140, 11, 11);
         padding: 20px;
           font-style: Serif;
           text-align: center;
           letter-spacing: 0.3em;
           
           }       