

.toggleOpen {
    font-size: 3em;
        color: rgb(10, 10, 10);
       background-color: rgb(11, 140, 22);
       margin: 100;
       margin-bottom: 7px;
       padding: 20px;
       font-style: italic;
       text-align: center;
       letter-spacing: .3em;
       
       }
.toggleClose {
        font-size: 3em;
            color: rgb(10, 10, 10);
           background-color: rgb(140, 11, 11);
           margin: 0;
           margin-bottom: 7px;
           padding: 20px;
           font-style: italic;
           text-align: center;
           letter-spacing: 0.3em;
           
           }       