.date{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    margin-left: 8%;
    line-height: 1;
    margin-top: -10%;
    margin-bottom: 0%;
    }
    .time{color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 6rem;
        font-weight: 900;
        margin-left: 5%;
        margin-top: 5%;}