.date{
    color: #fff;
    font-size: 3rem;
    margin-left: 5%;
    line-height: 1;
    margin-top: -7%;
    margin-bottom: 0%;
    }
    .time{color: #fff;
        font-size: 4rem;
        margin-left: 5%;
        margin-top: 5%;}
