body {
  margin: 0;
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: #13233E;
}

.container .background{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  background-image:url('./images/backgroundimage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}

.container .left {
  width:50%;
  z-index: 200;
}

.container .right{
  width:50%;
  z-index: 200;
  height: 50%;

}

.container .left .top{
  height:50%;
}

.container .left .bottom{
  height:50%;
}

